.navbar {
    background-color: #27333f;
    
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #f8f9fa;
}

.nav-link {
    color: #adb5bd;
}

.nav-link:hover,
.nav-link.active {
    color: #f8f9fa;
}

.nav-number {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #f8f9fa;
    margin-right: 5px;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.bg-dark {
    background-color: hsl(212, 26%, 14%) !important;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 16 16" fill="%23adb5bd" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" d="M1 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/%3E%3C/svg%3E');
    background-size: 1.5rem 1.5rem;
}

.navbar-nav .nav-item {
    margin-right: 14px;
}

@media (max-width: 767.98px) {
    .navbar-nav {
        flex-direction: column;
        text-align: justify;
    }
}




/*new code*/

/* .navbar {
    background-color: #27333f;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #f8f9fa;
}

.nav-link {
    color: #adb5bd;
}

.nav-link:hover,
.nav-link.active {
    color: #f8f9fa;
}

.nav-number {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #f8f9fa;
    margin-right: 5px;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.bg-dark {
    background-color: hsl(212, 26%, 14%) !important;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler-icon {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 16 16" fill="%23adb5bd" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" d="M1 2.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13a.5.5 0 0 1-.5-.5z"/%3E%3C/svg%3E');
    background-size: 1.5rem 1.5rem;
}

@media (max-width: 767.98px) {
    .navbar-nav {
        flex-direction: column;
        text-align: center;
    }
} */
