<div class="row align-items-center default-container">
  <div class="col-lg-12">
    <div class="content">
      <div class="content-left">
        <h2 class="default-topic">About me.</h2>

        <div class="card-container">
            <img class="round" src="../../assets/unnamed.jpg" alt="user" />
            <h1 class="first-name" style="color: aliceblue"><b>Sayan De</b></h1>
            <h3 class="cardfont">
                Hello! 👋 My name is Sayan De and I am a
                <b>Fullstack Developer (MEAN Stack Developer).</b> I can build
                single page web applications and also build Backend
                <b>Rest APIs</b> endpoints for
                <b>Mobile and Web Applications</b>
            </h3>
        </div>

      </div>
      <div class="content">
        <div class="content-left">
          <h2 class="default-topic">Reach out.</h2>
          <p class="default-p">
            Check out my Github account for projects or
            <span class="default-highlight">reach out to arrange a meeting</span
            >. I would be happy to know how my
            <span class="default-highlight">problem-solving skills</span> can
            contribute to<span class="default-highlight">
              address the challenges you are facing</span
            >.
          </p>
          <button>
            <a routerLink="/contact"> > Contact me </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
