<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="Languages." 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <ul>
        <li>
          <p>Fluent -> <strong><span class="default-highlight"> English</span></strong></p>
        </li>
        <li>
          <p>Advanced -> <strong><span class="default-highlight"> Bengali</span></strong></p>
        </li>
        <li>
          <p>Native -> <strong><span class="default-highlight"> Hindi</span></strong></p>
        </li>
      </ul>
      
    </div>
    </accordion-group>

    <!-- <accordion-group 
    heading="University." 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>2023 - UFSC - <strong><span class="default-highlight">Information Systems</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Project | The Brazillian Gazettes' Restful APIs
        </li>
      </ul>
      <p>2018 - UFSC - <strong><span class="default-highlight">International Relations</span></strong> - Master's Degree</p>
      <ul>
        <li>
          Thesis | TOR Network and non-state actors: an analysis of Power Diffusion in three dimensions
        </li>
      </ul>
      <p>2014 - UFSC - <strong><span class="default-highlight">International Relations</span></strong> - Bachelor's Degree</p>
      <ul>
        <li>
          Final Project | The TOR Network and International Relations
        </li>
      </ul>
    </div>    
  </accordion-group> -->

    <accordion-group 
    heading="Experiences."
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <!-- <p>Full Stack Developer - <strong><span class="default-highlight">Fullstack Development with Node js, Express js, Mysql and Angular  </span></strong> - ( Feb/2023  to  July/2024 )</p>
      <ul>
        <li>
          After completing the internship program i was associted as a full time <span class="default-highlight">Fullstack Developer</span> at <span class="default-highlight">Miko Software Services LLP </span> , and i worked on so many projects.
          i have knowledge on Front-end and Back-end technologies
        </li>
      </ul><br><br> -->
      <p>Internship - <strong><span class="default-highlight">Miko Software Services LLP  </span></strong> ( Feb/2023  to  April/2023 )</p>
      <ul>
        <li>
          I have completed an internship as a <span class="default-highlight">Junior Software Developer</span>  at Miko Software Services LLP, during my internship i worked in building <span class="default-highlight">Backend services </span> for  <span class="default-highlight">Mobile and Web applications</span>
        </li>
      </ul>
    </div>
    </accordion-group>
    
    <accordion-group 
    heading="Technologies I use."
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
            <i class="devicon-nodejs-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-mysql-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-mongodb-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-angular-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-javascript-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-socketio-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-bootstrap-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-python-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-vscode-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-postman-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-swagger-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-npm-original-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-jira-plain-wordmark"></i>
          </div>
      </div>
    </accordion-group>
  
  </accordion>
  
</div>