<div class="row align-items-center default-container">
    <div class="col-lg-12">
      <div class="text-left">
        <h1 class="home-title">Hello, Myself <span class="white-highlight">&lt;</span>
          Sayan
          <span class="white-highlight">
              /&gt;
          </span></h1><br><br>
        <h2 class="home-author">I'm  a, <span id="dynamic-text">{{ dynamicText }}</span></h2><br>
        <blockquote class="details custom-width" style="text-align: justify;">
          Aspiring Full Stack developer (MEAN STACK) with solid knowledge
          in both front-end and back-end technologies. Proficient in MySQL,
          Express.js, Angular, and Node.js and Mongo Db. Eager to apply skills in developing
          efficient, scalable web applications, with a focus on clean code and
          responsive design.
        </blockquote>
        <br>
        <button class="button">
            <a href="https://drive.google.com/file/d/1G5WSOMi5Hg-hELPJ2lOuTxBCIVJBEQVC/view?usp=sharing">
                > Download CV
            </a>
        </button>
        <div class="container">
          <img src="../../assets/unnamed.jpg" alt="Profile Image" class="profile-image">
        </div>
      </div>
    </div>
</div>
  